@import "tailwindcss";

/* ---------- Yekan Font ---------- */
@font-face {
  font-family: "Yekan";
  src: url("/fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ---------- Theme ---------- */
:root {
  --background: #f8fafc;   /* خاکستری ملایم */
  --foreground: #0f172a;   /* متن تیره */
}

html {
  direction: rtl;
  font-family: "Yekan", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
}
